{% extends 'layout.html' %}
{% block title %}
<title>parking_lot</title>{% endblock %}

{% block content %}
<div class="my_class">
<h1 class="text-center mb-4 text-primary"><i class="fas fa-square-parking"></i>arking_lots</h1>
<p>
   <strong> ADD:</strong> <a href="{{ url_for('add_parking_lot') }}" class="btn btn-success"><i class="fas fa-plus"></i>Add Parking Lot</a>
</p>
<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Prime Location Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Price per Hour</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for parking_lot in parking_lots %}
        <tr>
            <td>{{ parking_lot.id }}</td>
            <td>{{ parking_lot.prime_location_name }}</td>
            <td>{{ parking_lot.maximum_number_of_spots }}</td>
            <td>{{ parking_lot.price }}</td>
            <td>{{ parking_lot.address }}</td>
            <td>{{ parking_lot.pincode }}</td>
            <td>
                <a href="{{ url_for('parking_lot_show', lot_id=parking_lot.id) }}" class="btn btn-info"><i class="fa-solid fa-eye"></i>Show</a>
                <a href="{{ url_for('parking_lot_edit', id=parking_lot.id) }}" class="btn btn-primary"><i class="fas fa-edit"></i>Edit</a>
                <a href="{{ url_for('parking_lot_delete', id=parking_lot.id) }}" class="btn btn-danger"><i class="fas fa-trash  "></i>Delete</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block style %}
<style>
    .my_class {
        margin: 20px;
    }
</style>
{% endblock %}